@{
    ViewData["Title"] = "webApp";
}

<div class="text-center">
    <h1 class = "display-3">Hi User</h1>
    <h2 class = "display-6">This Program outputs the greater of two squares from numbers given by You</h2>

    <div>
        @{
            @if(ViewBag.Result != null){
                <h5 class="display-8 text-danger"> <em>@ViewBag.Result</em> </h5>
            }
        }
        <form asp-asp-controller="Home" asp-action="webApp" method="POST">
            <input type="text" placeholder="NosOne" name="NosOne"/>
            <br /><br />
            <input type="text" placeholder="NosTwo" name="NosTwo"/>
            <br/>
            <br/>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

